#header-section {
  height: 80vh;
  background-image: url('../images/undro_bg_blue.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  position: relative;
  // text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    background: #3fafef66;
    backdrop-filter: blur(4px);
    position: absolute;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #233d63;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.5rem;
    }
    .button {
      display: inline-block;
      background-color: #00afef;
      box-shadow: 0px 10px 30px 0px rgba(0, 175, 239, 0.3);
      width: 30%;
      margin: 0px 0px 0px 0px;
      color: white;
      padding: 1rem .5rem;
      text-align: center;
      font-weight: 600;
      text-decoration: none;
      transition: all 500ms ease;
      margin-top: 20px;
      &:hover {
        transform: translateY(10px);
      }
    }
  }
}

.stages {
  background-image: url('../images/bg-2-blue.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  // height: 80vh;
  .container {
    background: white;
    box-shadow: 0px 10px 30px 0px rgba(0, 175, 239, 0.3);
    padding: 4rem 3rem;
  }
}

.objective {
  .card {
    // width: 75%;
    // font-weight: 200;
    border-radius: 0;
    background: white;
    box-shadow: 0px 10px 30px 0px rgba(0, 175, 239, 0.3);
    // color: black;
    &.right::before {
      content: '';
      background-image: url('../images/offer.svg');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 75%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 10%;
      left: 10%;
      opacity: .1;
    }
    &.left::before {
      content: '';
      background-image: url('../images/object.svg');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 75%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 10%;
      right: 10%;
      opacity: .1;
    }
    .card-body {
      z-index: 1;
    }
  }
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer {
  background: #e22295;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}