extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")
  link(rel="stylesheet" href="./style/faq.scss")

include ./layouts/partials/mixin.pug

block page
  section#header-section
    .overlay
    .info-container
      .container
        .row
          .col-sm-12
            h1 Incubate your Ideas!...
            p An exclusive incubation facility for SC entrepreneurs in association with the scheduled castes development department
            a.button(href="https://startupmission.kerala.gov.in/incubate" target="_blank") Apply for Incubation
            //- ul
            //-   li
            //-     h3 5k 
            //-       span Sq.Ft
            //-     p Incubation Space
            //-   li
            //-     h3 10
            //-     p Incubated Startups
            //-   li
            //-     h3 10 
            //-       span Cr
            //-     p Funds Disbursed
            //-   li
            //-     h3 200+
            //-     p Jobs Generated
      a.move-down(href="#about")
        svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z')

  section.section-content.pb-0#about
    .container
      h2.text-center.mb-3 About Startup Dreams
      p.text-justify Kerala Startup Mission in association with Scheduled Caste Development
        | Department (SCDD) government of Kerala is implementing the project ‘Startup
        | Dreams’. This is a startup incubation Programme primarily for the SC community and is
        | located at Ambedkar Bhavan, Mannanthala. Startup Dreams, incubates innovative ideas and technology products, support them
        | through facilities and capacity building programs, so as to grow them up into
        | scalable business. Startup Dreams encompasses execution of startup incubation programmes, conduct
        | of various training/development, workshops, sessions, business connect/networks,
        | setting up/ connecting various R&D Labs, branding and other operational activities.

  section.section-content.stages
    .container
      h2.text-center Startup Dreams project will have 4 stages
      .row.text-center.mt-5
        .col-sm-3
          img.w-75(src="./images/mentor-blue.png")
          h5.mt-3 Initial Mentoring Phase
          p 3 Months
        .col-sm-3
          img.w-75(src="./images/pre inc-blue.png")
          h5.mt-3 Pre-incubation Phase
          p 3 - 6 Months
        .col-sm-3
          img.w-75(src="./images/inc-blue.png")
          h5.mt-3 Incubation Phase
          p 12 - 18 Months
        .col-sm-3
          img.w-75(src="./images/accl-blue.png")
          h5.mt-3 Accelerator Phase
          p 6 - 12 Months

  section.section-content.objective 
    .container
      .row.justify-content-evenly
        .col-sm-6
          .card.left.h-100
            .card-body.p-5
              h3.mb-3.text-center Objectives
              p Startup Dreams is a social sector initiative to be implemented state wide with following objectives:
              ol.text-justify
                li To promote entrepreneurship among the SCs/ STs, OBCs who are oriented towards innovation and growth technologies to pursue their dreams.
                li To identify potential entrepreneurs among these persons and to support them to startup their ventures with competent technology products and services and by conducting congregation, training and skill development programs, entrepreneur development programs, leadership workshops, investors meet and other capacity building programs
                li To increase financial inclusion for SC entrepreneurs and to motivate them for further growth of SC communities by routing various funds created by the Government.
        .col-sm-6
          .card.right.h-100
            .card-body.p-5
              h3.mb-3.text-center What we Offer?
              p.text-justify Startup Dreams will provide incubation facilities and support for startup entrepreneurs/ prospective entrepreneurs in multiple sectors such as ICT, electronics, agriculture, rural, livelihood and so on. Further, they will be exposed to potential capacity building programs, entrepreneurship development and skill training programs.
              p.text-justify Training and development, Leadership programs, developing prototypes, pooling out innovative ideas, brainstorming sessions, setting up ideation clubs, Interactive sessions, setting up of incubation centers, library, R & D center etc. are the activities proposed.




  //- section.section-content
  //-   .container
  //-     .row
  //-       .col-sm-12
  //-         h3.mb-3 Objectives
  //-         p Startup Dreams is a social sector initiative to be implemented state wide with following objectives:
  //-         ol.text-justify
  //-           li To promote entrepreneurship among the SCs/ STs, OBCs who are oriented towards innovation and growth technologies to pursue their dreams.
  //-           li To identify potential entrepreneurs among these persons and to support them to startup their ventures with competent technology products and services and by conducting congregation, training and skill development programs, entrepreneur development programs, leadership workshops, investors meet and other capacity building programs
  //-           li To increase financial inclusion for SC entrepreneurs and to motivate them for further growth of SC communities by routing various funds created by the Government.

  //- section.section-content.alternative
  //-   .container
  //-     .row
  //-       .col-sm-12
  //-         h3.mb-3 What we Offer?
  //-         p.text-justify Startup Dreams will provide incubation facilities and support for startup entrepreneurs/ prospective entrepreneurs in multiple sectors such as ICT, electronics, agriculture, rural, livelihood and so on. Further, they will be exposed to potential capacity building programs, entrepreneurship development and skill training programs.
  //-         p.text-justify Training and development, Leadership programs, developing prototypes, pooling out innovative ideas, brainstorming sessions, setting up ideation clubs, Interactive sessions, setting up of incubation centers, library, R & D center etc. are the activities proposed.

  section.section-content
    .container
      h2.pt-4.text-center FAQ
      .faq-list
        +faq("Who can apply / will be selected / enrolled under the project?")  
          p
            ul
              li 
                | Individuals or group of individuals, who has an innovative or technology idea or prototypes and/or who wish to join together or have joined together to start a business venture in any of the sectors.
              li Partnership firms (registered with in an year)
              li Companies (Pvt Ltd, LLP registered within an year)
              li Any other organizations of similar nature stated under (a) above
        +faq("What are the facilities/benefits offered")
          p 
            ul
              li The existing facility at Mannanthala does have office spaces for Startup areas with workstations, computers and servers, breakout space, maker space and demo rooms.
              li Common facilities such as reception, library/ reading spaces, discussion rooms, conference rooms.
              li The office spaces shall be set up with internet connectivity and common amenities such as  lighting and electric power. The space shall be either Wi-Fi connected or LAN connected.
              li Library/reading space.
              li The startups will get access to every programme conducted by Kerala Startup Mission (KSUM) and shall be considered as being incubated under KSUM.

        +faq("What is the initial mentorship programme all about?")
          | Initial mentorship programme is offered to those who are an aspirant or one who is toying with the idea of entrepreneurship. Any candidate can submit an application which will be evaluated. If the idea/interest is found to be genuine, the centre will do counseling for the applicant to become an entrepreneur. They will be exposed to the basics of entrepreneurship and mentored on how to develop a market viable prototype. There will be a forum where people from different backgrounds can meet and discuss various ideas/interests and evolve a common thread.
        +faq("Is it mandatory that an applicant for Pre-incubation should be a registered firm?")
          p No.It is not mandatory that the applicant for Pre-incubation should be a registered firm.
          p Pre-incubation stage mainly focuses on ideation, where a person having a potential innovative idea can be provided with a co-working space. During this period, the entrepreneur takes up the role of a ‘techno-evangelist’ who develops the idea into a Proof of Concept and prepares him for understanding the technical feasibility of the idea proposed. Sometimes, a number of potential innovations or startup teams may come out of this coworking ecosystem.
          p During pre-incubation, the innovator/founder will be offered technical as well as business mentorship and skill based training, so as to make a market viable prototype. KSUM will also support the entrepreneurs by mentoring or by creating the right platform for networking. Once a marketable product/service prototype is evolved, they will be encouraged to form a company.
        +faq("How is monitoring done for the startups?")
          | He/ she will be closely monitored based on targets and the person will be encouraged to achieve the projected targets on time with satisfaction. Pre-incubation stage is generally 3 months and the venture will be reviewed after 3 months for achieving their targeted milestones. The extension of pre-incubation cycle or the successful completion of pre-incubation stage will be determined by the expert committee, which reviews the performance / progress made by the company/ group/individual.
        +faq("When does a startup come under the incubation stage?")
          | Applicants who successfully complete the second stage of pre-incubation, and are shortlisted for moving to the next third stage of ‘Incubation’ will be enrolled for this stage.
          | Incubation stage will be 6-12 months where startup companies graft product development and prepare themselves for marketing. During this stage the entrepreneur takes up the role of a ’technopreneur’, who brings all his efforts (such as technology, team, seed money,) to build a market viable prototype(MVP’s).
        +faq("What are the offerings of Startup Dreams during the incubation stage?")
          | Startup Dreams will allot them specific seats/modules along with funds or grants as applicable under department scheme and right mentorship. The incubator can also offer a wide array of value added services like entrepreneur training and workshops, skill development programmes, leadership programmes, R & D facilities, International tie-ups etc to speed up the incubation cycle. The applicants who come under Incubation Stage should a registered firm/ company like MSME registration, Partnership, Private Limited or Limited Liability Partnership. The duration of incubation depends on the sector and type of technology. Interim business progress review will be conducted to understand the business updates of the startup. The incubation period and exit strategy (graduation or closing) of the startups will be well defined by Startup Dreams during reviews.
        +faq("What is the 'Accelerator' stage?")
          | Applicants who have successfully completed the third stage of Incubation and shortlisted will be enrolled for this stage. Accelerator stage will be of 6-12 months, and this will be a business tool box and a holistic business advisory service, resembling the traditional management consulting or mentoring, but adjusted to fit for the startups. The focus of the accelerator stage shall be on rapid growth and to sort out all organizational, operational, financial and strategic difficulties that may be facing the business under KSUM guidance through a highly systematic approach. The startup will be encouraged for scaling up and client acquisitions. The startup shall be trained/ mentored for pitching in front of VC’s and other investors (strategic & financial).

  section.section-content
